@model IEnumerable<Group1_Assn4.Controllers.Q10Result>

@{
    ViewData["Title"] = "Question 10";
}
<p>@ViewData["Question"]</p>
<div class="row alert-info" style="padding:5px">
    @Html.Raw(@ViewData["LINQ"].ToString().Replace("^", "<br/>").Replace("_", "&emsp;"))
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCount)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectCount)
                </td>

            </tr>
        }
    </tbody>
</table>
