@model IEnumerable<Group1_Assn4.Controllers.Q5Result>

@{
    ViewData["Title"] = "Question 5";
}
<p>5.	Which are the 4 projects which used the most number of people (resources)? </p>
<div class="row alert-info" style="padding:5px">
    @Html.Raw(@ViewData["LINQ"].ToString().Replace("^", "<br/>").Replace("_", "&emsp;"))
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceCount)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceCount)
                </td>

            </tr>
        }
    </tbody>
</table>
